.form{
  margin: 10px;
}

.form input {
  padding: 5px 10px;
  margin: 10px;
  outline: none;
  transition: border-color .4s ease;
  border: 1px solid transparent;
  margin-bottom: 10px;
}

.form input:focus {
 border-color: lightseagreen;
}